<img align="right" src="https://ds-cs-images.s3.ap-northeast-2.amazonaws.com/Codestates_Fulllogo_Color.png" width=100>

## *AIB / SECTION 2 / SPRINT 3 / NOTE 1*

# ğŸ“ Assignment
---
# Choose your ML problems

ì´ë²ˆ ìŠ¤í”„ë¦°íŠ¸ì—ì„œëŠ” í¬íŠ¸í´ë¦¬ì˜¤ í”„ë¡œì íŠ¸ë¥¼ ìœ„í•´ ìˆ˜ê°•ìƒ ê°ìê°€ ì •í•œ ë°ì´í„°ì…‹ì„ ì‚¬ìš©í•˜ì—¬ ê³¼ì œë¥¼ ìˆ˜í–‰í•©ë‹ˆë‹¤. í”„ë¡œì íŠ¸ë¥¼ ìœ„í•œ ë°ì´í„°ë¥¼ ìµœì¢… ì„ íƒí•˜ê¸° ì „ì— ì—¬ëŸ¬ ê°€ëŠ¥í•œ ë°ì´í„°ì„¸íŠ¸ë¥¼ ì‚´í´ë³´ê³  ê°„ë‹¨í•œ ëª¨ë¸ê¹Œì§€ í•™ìŠµí•´ ë³´ëŠ” ê²ƒì„ ì¶”ì²œë“œë¦½ë‹ˆë‹¤.

### 1) íƒ€ê²Ÿìœ¼ë¡œ ì‚¬ìš©í•  íŠ¹ì„±ì„ ì„ íƒí•©ë‹ˆë‹¤.
**(Urclass Quiz)** ì—¬ëŸ¬ë¶„ë“¤ì´ í”„ë¡œì íŠ¸ì— ì‚¬ìš©í•  ë°ì´í„°ì…‹ê³¼ íƒ€ê²ŸíŠ¹ì„±ì— ëŒ€í•´ ì•„ë˜ì˜ ë‚´ìš©ì„ í¬í•¨í•˜ì—¬ ê°„ëµí•˜ê²Œ ì„¤ëª…í•´ì£¼ì„¸ìš”. 
* `df.dtypes`ì„ ì‚¬ìš©í•´ì„œ íƒ€ê²ŸíŠ¹ì„±ì˜ ë°ì´í„° íƒ€ì… í™•ì¸
* `df.describe()`ë¥¼ ì‚¬ìš©í•´ì„œ íƒ€ê²ŸíŠ¹ì„±ì˜ ëŒ€í‘œê°’ í™•ì¸(ì‹¤ìˆ˜-í‰ê· , ë²”ì£¼í˜•-ìµœë¹ˆê°’)

In [3]:
### Heart Disease UCI : ì‹¬ì¥ë§ˆë¹„ ì˜ˆì¸¡ ### 
# https://archive.ics.uci.edu/ml/datasets/Heart+Disease

#êµ¬ê¸€ ë“œë¼ì´ë¸Œ ì—°ê²°
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
#ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/kaggle/heart.csv')

In [5]:
df.dtypes

age           int64
sex           int64
cp            int64
trtbps        int64
chol          int64
fbs           int64
restecg       int64
thalachh      int64
exng          int64
oldpeak     float64
slp           int64
caa           int64
thall         int64
output        int64
dtype: object

In [6]:
df.describe()

              age         sex          cp  ...         caa       thall      output
count  303.000000  303.000000  303.000000  ...  303.000000  303.000000  303.000000
mean    54.366337    0.683168    0.966997  ...    0.729373    2.313531    0.544554
std      9.082101    0.466011    1.032052  ...    1.022606    0.612277    0.498835
min     29.000000    0.000000    0.000000  ...    0.000000    0.000000    0.000000
25%     47.500000    0.000000    0.000000  ...    0.000000    2.000000    0.000000
50%     55.000000    1.000000    1.000000  ...    0.000000    2.000000    1.000000
75%     61.000000    1.000000    2.000000  ...    1.000000    3.000000    1.000000
max     77.000000    1.000000    3.000000  ...    4.000000    3.000000    1.000000

[8 rows x 14 columns]

In [7]:
#ë‚˜ì´ : í™˜ìì˜ ë‚˜ì´
#ì„±ë³„ : í™˜ìì˜ ì„±ë³„
#exang: ìš´ë™ ìœ ë°œ í˜‘ì‹¬ì¦(1 = ì˜ˆ, 0 = ì•„ë‹ˆì˜¤)
#ca: ì£¼ìš” í˜ˆê´€ ìˆ˜(0-3)
#cp : í‰í†µí˜• í‰í†µí˜•
# 1: ì „í˜•ì ì¸ í˜‘ì‹¬ì¦
# 2: ë¹„ì •í˜• í˜‘ì‹¬ì¦
# 3: í˜‘ì‹¬ì¦ì´ ì•„ë‹Œ í†µì¦
# 4: ë¬´ì¦ìƒ
#trtbps : ì•ˆì •ì‹œ í˜ˆì••(mmHg ë‹¨ìœ„)
#chol : BMI ì„¼ì„œë¥¼ í†µí•´ ê°€ì ¸ì˜¨ ì½œë ˆìŠ¤í…Œë¡¤(mg/dl)
#fbs : (ê³µë³µ í˜ˆë‹¹ > 120 mg/dl) (1 = ì°¸, 0 = ê±°ì§“)
#rest_ecg : íœ´ì‹ê¸° ì‹¬ì „ë„ ê²°ê³¼
# 0: ì •ìƒ
# 1: ST-TíŒŒ ì´ìƒ(TíŒŒ ë°˜ì „ ë°/ë˜ëŠ” ST ìƒìŠ¹ ë˜ëŠ” í•˜ê°• > 0.05mV)
# 2: Estes' ê¸°ì¤€ì— ì˜í•œ ì¢Œì‹¬ì‹¤ ë¹„ëŒ€ ê°€ëŠ¥ì„±ì´ ìˆê±°ë‚˜ í™•ì‹¤í•œ í‘œì‹œ
#thalach : ë‹¬ì„±í•œ ìµœëŒ€ ì‹¬ë°•ìˆ˜
#ëª©í‘œ: 0= ì‹¬ì¥ë§ˆë¹„ì˜ í™•ë¥  ê°ì†Œ 1= ì‹¬ì¥ë§ˆë¹„ì˜ ë” ë†’ì€ í™•ë¥

### 2) í’€ê³ ì í•˜ëŠ” ë¬¸ì œê°€ ë¶„ë¥˜/íšŒê·€ ë¬¸ì œì¸ì§€ ì •í•©ë‹ˆë‹¤.
**(Urclass Quiz)** ë‹¤ì´ì•„ëª¬ë“œë¥¼ ë³´ê´€í•˜ê¸° ìœ„í•´ ê¸ˆê³ ë¥¼ ë§Œë“¤ì—ˆìŠµë‹ˆë‹¤. ê¸ˆê³ ê°€ ë„ˆë¬´ ì‘ì•„ì„œ ê°€ê²©ì´ ìƒìœ„ 25%ì¸ ê²ƒë§Œ ë³´ê´€í•˜ë ¤ê³  í•©ë‹ˆë‹¤. ì´ë¥¼ ìœ„í•´ 'price' íŠ¹ì„±ì„ ì´ìš©í•´ ê¸ˆê³ ì— ë³´ê´€í•  ë‹¤ì´ì•„ëª¬ë“œì™€ ê·¸ë ‡ì§€ ì•Šì€ ê²ƒìœ¼ë¡œ ë¶„ë¥˜í•˜ëŠ” ì´ì§„ë¶„ë¥˜ ì»¬ëŸ¼ì„ ë§Œë“¤ì–´ íƒ€ê²Ÿ íŠ¹ì„±ìœ¼ë¡œ ì‚¬ìš©í•  ê²ƒì…ë‹ˆë‹¤. íƒ€ê²Ÿ íŠ¹ì„±ì˜ ìµœë¹ˆê°’ì˜ ë¹ˆë„ìˆ˜ë¥¼ ì ì–´ì£¼ì„¸ìš”.
- 'top25'ë¼ëŠ” ìƒˆë¡œìš´ íƒ€ê²Ÿë³€ìˆ˜(ì»¬ëŸ¼)ë¥¼ ë§Œë“¤ì–´ì£¼ì„¸ìš”.
- ìƒìœ„ 25% ì´ìƒ True, ìƒìœ„ 25% ë¯¸ë§Œ False

In [1]:
### ì´ê³³ì—ì„œ ê³¼ì œë¥¼ ì§„í–‰í•´ ì£¼ì„¸ìš” ### 
import seaborn as sns
diamonds = sns.load_dataset('diamonds')

In [9]:
diamonds.describe()

              carat         depth  ...             y             z
count  53940.000000  53940.000000  ...  53940.000000  53940.000000
mean       0.797940     61.749405  ...      5.734526      3.538734
std        0.474011      1.432621  ...      1.142135      0.705699
min        0.200000     43.000000  ...      0.000000      0.000000
25%        0.400000     61.000000  ...      4.720000      2.910000
50%        0.700000     61.800000  ...      5.710000      3.530000
75%        1.040000     62.500000  ...      6.540000      4.040000
max        5.010000     79.000000  ...     58.900000     31.800000

[8 rows x 7 columns]

In [11]:
diamonds['top25'] = ['T' if t else 'F' for t in list(diamonds['price'] >= 950.0)]

In [12]:
diamonds

       carat        cut color clarity  depth  ...  price     x     y     z  top25
0       0.23      Ideal     E     SI2   61.5  ...    326  3.95  3.98  2.43      F
1       0.21    Premium     E     SI1   59.8  ...    326  3.89  3.84  2.31      F
2       0.23       Good     E     VS1   56.9  ...    327  4.05  4.07  2.31      F
3       0.29    Premium     I     VS2   62.4  ...    334  4.20  4.23  2.63      F
4       0.31       Good     J     SI2   63.3  ...    335  4.34  4.35  2.75      F
...      ...        ...   ...     ...    ...  ...    ...   ...   ...   ...    ...
53935   0.72      Ideal     D     SI1   60.8  ...   2757  5.75  5.76  3.50      T
53936   0.72       Good     D     SI1   63.1  ...   2757  5.69  5.75  3.61      T
53937   0.70  Very Good     D     SI1   62.8  ...   2757  5.66  5.68  3.56      T
53938   0.86    Premium     H     SI2   61.0  ...   2757  6.15  6.12  3.74      T
53939   0.75      Ideal     D     SI2   62.2  ...   2757  5.83  5.87  3.64      T

[53940 rows x 11 columns]

### 3) íƒ€ê²Ÿì˜ ë¶„í¬ë¥¼ ë¶„ì„í•˜ê³  ì‚¬ìš©í•  í‰ê°€ì§€í‘œë¥¼ ì„ íƒí•©ë‹ˆë‹¤. í‰ê°€ì§€í‘œë¥¼ ì„ íƒí•œ ì´ìœ ë¥¼ ì„¤ëª…í•˜ì„¸ìš”.
- ë¶„ë¥˜: í´ë˜ìŠ¤ê°€ ëª‡ ê°œì¸ì§€? í´ë˜ìŠ¤ ë¹„ìœ¨ì´ ì–´ë–¤ì§€(balance or imbalance)
- íšŒê·€: íƒ€ê²Ÿ ë¶„í¬ê°€ right-skewed ì¸ì§€? log-transformì„ ì‚¬ìš©í•  ê²ƒì¸ì§€?
- ë¶„ë¥˜: ë‹¤ìˆ˜ í´ë˜ìŠ¤(majority class) ë¹„ìœ¨ì´ 50%~70% ì¸ ê²½ìš° ì •í™•ë„(accuracy)ë§Œ ì‚¬ìš©í•´ë„ ë¬´ë°©í•©ë‹ˆë‹¤. í•˜ì§€ë§Œ ë²”ìœ„ë¥¼ ë„˜ì–´ì„¤ ê²½ìš° ì •í™•ë„ë§Œì„ ì‚¬ìš©í•´ì„œëŠ” ëª¨ë¸ì„ ì˜ëª» ì´í•´í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤. ì–´ë–¤ í‰ê°€ì§€í‘œë¥¼ ì‚¬ìš©í•´ì•¼ í• ê¹Œìš”?
- íšŒê·€: MAE, RMSE, R^2 ë“±ì„ ì‚¬ìš©í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.

---


**(Urclass Quiz)** ì—¬ëŸ¬ë¶„ë“¤ì´ í”„ë¡œì íŠ¸ì— ì‚¬ìš©í•  ë°ì´í„°ì˜ ê¸°ì¤€ëª¨ë¸ê³¼ ì‚¬ìš©í•  í‰ê°€ì§€í‘œë¥¼ ì œì¶œí•´ì£¼ì„¸ìš”.

In [13]:
### coming soon.... ###

## ğŸ”¥ ë„ì „ê³¼ì œ(Github - Discussion)

### 4) ë°ì´í„°ë¥¼ í›ˆë ¨/ê²€ì¦/í…ŒìŠ¤íŠ¸ ë°ì´í„°ë¡œ ë‚˜ëˆ„ê³  ì „ì²˜ë¦¬ë¥¼ ìˆ˜í–‰í•©ë‹ˆë‹¤. ê·¸ë¦¬ê³  ê°„ë‹¨í•œ ëª¨ë¸ì„ ì‚¬ìš©í•´ì„œ í•™ìŠµì„ ìˆ˜í–‰í•©ë‹ˆë‹¤.
- ì´ìƒì¹˜(outliers)ê°€ ìˆë‹¤ë©´ ì–´ë–»ê²Œ ì²˜ë¦¬í•  ê²ƒì¸ì§€ ì„¤ëª…í•©ë‹ˆë‹¤.
- ë¬´ì‘ìœ„ë¡œ or ì‹œê°„ì— ë”°ë¼ ë°ì´í„°ë¥¼ ë‚˜ëˆŒ ê²ƒì¸ì§€ ì„¤ëª…í•©ë‹ˆë‹¤.
- ëª¨ë¸ í•™ìŠµ ê²°ê³¼ë¥¼ ë¦¬í¬íŒ… í•©ë‹ˆë‹¤.
- ì •ë³´ ëˆ„ìˆ˜(leakage)ê°€ ìˆëŠ”ì§€ í™•ì¸í•´ ë´…ë‹ˆë‹¤.

In [ ]:
### ì´ê³³ì—ì„œ ê³¼ì œë¥¼ ì§„í–‰í•´ ì£¼ì„¸ìš” ###